name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ci-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Build & test Naming Server
        run: mvn -f naming-server/pom.xml clean verify

      - name: Build & test Currency Exchange Service
        run: mvn -f currency-exchange-service/pom.xml clean verify

      - name: Build & test Currency Conversion Service
        run: mvn -f currency-conversion-service/pom.xml clean verify

      - name: Build & test API Gateway
        run: mvn -f api-gateway/pom.xml clean verify

      - name: Build & test Currency Report
        run: mvn -f currency-report/pom.xml clean verify

      - name: Build & test Currency History
        run: mvn -f currency-history/pom.xml clean verify

      - name: Docker Compose Build
        run: docker compose -f compose.yaml build